.corpo{
    background-color: white;
}

/* cor dos botões  */
#grade, #cont{
    color: white;
    background-color: black;
    border: solid 3px #FFB612;
    border-radius: 15px;
}

/* botões */
#cont:hover, #grade:hover{
    color: black;
    background-color: #FFB612;
    border: solid 3px black;
    border-radius: 15px;
}

.titulo2_centro{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    color: black;
}


.container-fluid{
    background-color: white;
}

#primeiro-cont{
    background-color: black;
    border-bottom: solid 4px #FFB612;
    padding-left: 10%;
}

.td-txt-perfil{
    text-align: left;
    padding-left: 10px;
    color: white;
}

.perf{
    padding-right: 80px;
}

.perf1{
    padding-right: 80px;
    margin-top: 25px;
}


.td-perfil{
    text-align: center;
    color: white;
}

img{
    border-radius: 100%;
}
img:hover{
    -webkit-transform: scale(1.2); 
}

.col-xl-6{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-btn{
    margin-top: 150px;
    margin-bottom: 27px;
    text-align: center;
}

.tamanho{
    width: 150px;
}

.nav-link{
    color: black;
}

* {
    margin: 0;
    padding: 0;
}

footer{
    margin: 0;
    padding: 0;
}

.rodape{
    text-align: center;
    background-color:  #FFB612;
    border-top: solid 2px black;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.tabelaEstudo{
    text-align: center;
}