.corpo{
    background-color: white;
}

/* cor dos botões  */
#grade, #cont{
    color: white;
    background-color: black;
    border: solid 3px #FFB612;
    border-radius: 15px;
}

/* botões */
#cont:hover, #grade:hover{
    color: black;
    background-color: #FFB612;
    border: solid 3px black;
    border-radius: 15px;
}

.container-fluid{
    background-color: white;
}

#primeiro-cont{
    background-color: black;
    border-bottom: solid 4px #FFB612;
}

.titulo_centro{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    background-color: #FFB612;
}

h2{
    margin-bottom: 0px !important;
}
.titulo2_centro{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    color: black;
    
}

.td-txt-perfil{
    text-align: left;
    padding-left: 10px;
    color: white;
}

.td-perfil{
    text-align: center;
    color: white;
}

img{
    border-radius: 100%;
}
img:hover{
    -webkit-transform: scale(1.2); 
}

.col-sm-5{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.card-body{
    background-color:  #FFB612;
    border: solid 2px  black;
    border-radius: 5px;
}

.card-body:hover{
    -webkit-transform: scale(1.2); 
    background-color: brown;
    color: white;
}

.div-btn{
    margin-top: 18px;
    margin-bottom: 27px;
    text-align: center;
}

.tamanho{
    width: 150px;
}

.rodape{
    text-align: center;
    background-color:  #FFB612;
    border-top: solid 2px black;
}

.nav-link{
    color: black;
}

* {
    margin: 0;
    padding: 0;
}

footer{
    margin: 0;
    padding: 0;
}